// Basic setting
@mixin left {float: left;}
@mixin right {float: right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 300;}

.none {@include none;}
.clear {clear: both;}

// Color variables
$bg-nav: #2d3336;

// Header
header {
    background-color: $bg-nav;
    padding: .6em .3em;
    margin-bottom: 2em;
    .user {
        @include left;
        width: 10%;
    }
    .search {
        @include right;
        text-align: right;
        width: 10%;
    }
    .logo {
        @include left;
        text-align: center;
        width: 80%;
    }
    .user, .logo, .search {
        img {height: 30px}
    }
}

//nav
#nav {
    background-color: rgba($bg-nav, 0.9);
    position: fixed;
    width: 100%;
    height: 4em;
    bottom: 0;
    ul {
        li {
            display: inline;
            text-decoration: none;
        }
        .active {}
    }
}

// Content
.title-sec {
    h3 {@include left;}
    .button  {
        @include right;
        font-size: rem-cacl(14);
    }
}

.loop-sec {
    margin-bottom: 1.5em;
    img {
        margin-bottom: 1em;
    }
}

#facebook {
    margin-bottom: 1.5em;
    .margin {
        background-color: $smoke;
        padding: 1em;
    }
    .intro {
        margin: 0.5em 0;
        font-size: rem-calc(18);
    }
    .spacer {
        text-align: right;
        .button {background-color: $secondary-color;}
    }
    .leyend {
        font-size: rem-calc(13);
        margin-bottom: 0;
    }
}

// Media Querys
// small
@media only screen and (max-width: 40em) {
    #facebook, #facebook .spacer {text-align: center;}
    #facebook .intro {margin: 0 0 1em;}
}
// medium
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .loop-sec div:last-child {@include none;}
    #facebook .intro {margin-top: 0;}
}











