// Basic setting
@mixin left {float: left;}
@mixin right {float: right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 300;}

.none {@include none;}
.clear {clear: both;}

// Color variables
$bg-nav: #2d3336;
//background-color: rgba($bg-nav, 0.5);

// Header
header {
    background-color: $bg-nav;
    ul {
        li
    }
    .user { width: 50%;}


}

// Content
.title-sec {
    h3 {@include left;}
    .button  {
        @include right;
        font-size: rem-cacl(14);
    }
}

.loop-sec {
    margin-bottom: 1.5em;
    img {
        margin-bottom: 1em;
    }
}

#facebook {
    margin-bottom: 1.5em;
    .margin {
        background-color: $smoke;
        padding: 1em;
    }
    .intro {
        margin-top: 0.5em;
        font-size: rem-calc(18);
    }
    .spacer {
        text-align: right;
        .button {background-color: $secondary-color;}
    }
    .leyend {
        font-size: rem-calc(13);
        margin-bottom: 0;
    }
}

// Media Querys
// small
@media only screen and (max-width: 40em) {
    #facebook, #facebook .spacer {text-align: center;}
    #facebook .intro {margin-top: 0;}
}
// medium
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .loop-sec div:last-child {@include none;}
    #facebook .intro {margin-top: 0;}
}











